/*Font styles*/
//colors
$color_mine_shaft_approx: #333;

h1 {
	font-size: 150%;
	margin: 0;
	padding: .5em 0 .25em;
	color: $color_mine_shaft_approx;
}
h2 {
	font-size: 120%;
	margin: 0;
	padding: .25em 0 .5em;
	color: $color_mine_shaft_approx;
}