/*Header styles*/
header {
	text-align: center;
	margin: 0;
	border-bottom: 2px solid $header;
	h1 {
		margin: 0;
		padding: .5em 0;
		color: $header;
		font-family: 'Akaya Telivigala', cursive;
		}
}
nav ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	li {
		padding-bottom: 0.5em;
	}
}
