/*Variables*/
//colors
$body_bg_color: red;
$container_bg_color: white;
$border:  black;
$options_color: red;
$options_color_hover: blue;

$font_color: #333;

$footer_border:  black;

$header:  green;
