/*Variables*/
//colors
$body_bg_color: black;
$container_bg_color: #b3d9fc;
$border:  black;
$options_color: red;
$options_color_hover: blue;

$font_color: #333;

$footer_border:  black;

$header:  #14018a;
